
<div
  class="main"
  style="background-color: #f0f0f0 !important; min-height: 100vh"
>
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar">
        <div class="row">
          <div class="col-md-2">
            <img src="/assets/images/logo.svg" alt="logo" class="ms-3" />
          </div>
        </div>

        <div class="comp mt-5">
          <img src="/assets/images/comp_1.svg" alt="comp1" class="comp-img" />
          <div class="row">
            <div class="col-md-2">

            </div>
            <h5 class="brand ms-3 mt-2">
              {{ allImages.compName }}
            </h5>
          </div>
          <p class="type ms-3">{{ allImages.type }}</p>
          <hr />
          <p class="type-2 ms-3">Platform</p>
          <h6 class="ms-3">{{ allImages.platform }}</h6>
          <hr />
          <p class="type-2 ms-3">Category</p>
          <div class="row">
            <div class="col-md-10">
              <h6 class="ms-3">{{ allImages.category }}</h6>
              <hr />
              <p class="type-2 ms-3">Upload Date</p>
              <h6 class="ms-3">
                {{ allImages.upload_date }}
              </h6>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="search-area">
              <img
                src="/assets/images/search.svg"
                alt="search logo"
                style="margin-right: -15px"
              />
              <input
                type="text"
                class="btn"
                style="width: 379px; cursor: text"
                placeholder=" | Search screen by name, category and app name"
              />
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-2">
          <div class="container">
            <div class="rounded mt-5">
              <img src="/assets/images/plus.svg" class="ico1" alt="" />
            </div>
            <div class="rounded mt-5">
              <img src="/assets/images/share.svg" class="ico2" alt="" />
            </div>
            <div class="rounded mt-5">
              <a href="{{ allImages.image }}" download="{{ brand }}">
                <img src="/assets/images/download.svg" class="ico3" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-md-2">
          <img src="{{ allImages.image }}" style="width : 300px !important" class="single-image mt-5" alt="" />
        </div>
        <div class="col-md-2">
          <div class="rounded mt-5">
            <img
              src="/assets/images/cross.svg"
              class="ico4"
              (click)="redirect()"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="screenshot mt-5 ms-5">
      <div class="row mb-5">
        <div class="col-md-3 offset-md-1 mb-5" *ngFor="let i of allCompImages">
          <a (click)="redirect()" style="cursor: pointer;">
            <img src="{{i.image}}" style="width : 300px !important" alt="1" />
          </a>
        </div>
      </div>
    </div>

</div>
